.auth {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100dvh;
  position: relative;
}

.auth-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.auth section:first-child {
  width: 50%;
}

.auth section:last-child {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(2, 31, 89, 0.8);
}
